:root {
    --color1: #3E0703;
    --color2: #660B05;
    --color3: #8C1007;
    --color4: #C3503C;
    --color5: #FFF0C4;
    --color6: #FEB1A3;
    --main-color: black;

    --title-size: 3.1rem;
    --text-size: 20px;
}

body {
    color: var(--color5);
}

header {
    border-color: var(--color2);
    background-color: var(--main-color);
    max-width: 100%;


    aside {
        width: 70%;
        height: 100vh;
        background-color: var(--color2);
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(110%);
        transition: all .5s ease;
    }

    #burger_menu_input:checked+aside {
        transform: translate(0);
    }

    aside,
    .burger_menu,
    .burger_menu+input {
        display: none;
    }
}

footer {
    ul li:first-child {
        color: var(--color4);
    }
}

img {
    object-fit: cover;
}

input {
    background-color: var(--color4);
}



@media (max-width : 767px) {

    header {

        img {
            width: 50px;
        }

        nav,
        nav+img {
            display: none;
        }

        aside,
        .burger_menu {
            display: block;

        }


    }

    footer {
        flex-direction: column;
        border-color: var(--color1);
        gap: 30px;
        padding: 0 10px 30px 10px;
        margin-top: 20px;

        section {
            margin: 0 !important;
            gap: 5px;
            overflow: hidden;
            align-items: unset !important;
            width: 100vw;

            ul {
                width: calc(100% / 3);

                li {
                    text-align: center;

                    a {
                        font-size: 12px;

                    }

                    span {
                        font-size: 21px;
                    }

                }
            }
        }
    }
}