:root {
    --color1: #3E0703;
    --color2: #660B05;
    --color3: #8C1007;
    --color4: #C3503C;
    --color5: #FFF0C4;
    --color6: #FEB1A3;
    --main-color: black;

    --title-size: 3.1rem;
    --text-size: 20px;
}

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: var(--color5);
    width: 100vw;
    overflow-x: hidden;
}

img {
    object-fit: cover;
}

#home {

    .hero {
        height: calc(100vh - 80px);
        position: relative;
    }

    .hero .home_background {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        max-height: calc(100vh - 80px);
        object-fit: cover;
    }

    .hero article {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        padding-left: 10%;
        gap: 10px;
    }

    .hero article h1 {
        font-size: var(--title-size);
    }

    .hero article p {
        width: 850px;
        font-size: var(--text-size);
    }

    /* section 2 */

    section:nth-child(2) {
        display: flex;
        align-items: center;
        /* margin: auto; */
        margin: 10rem 0 10rem 7rem;
    }

    section:nth-child(2) article {
        width: 50%;
        /* height: 50%; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }

    section:nth-child(2) article h2 {
        font-size: var(--title-size);
        margin: 30px;
        width: 100%;
    }

    section:nth-child(2) article p {
        font-size: 30px;
    }

    section:nth-child(2) article a,
    section:nth-child(3) article a {

        display: inline-block;
        height: 61px;
        width: 167px;
        background-color: var(--color4);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-top: 2rem;
        border-color: transparent;
        transition: all .5s ease-in-out;

    }

    section:nth-child(2) article a:hover,
    section:nth-child(3) article a:hover {
        background-color: #EF664E;
        border: 1px solid #FEB1A3;
        box-shadow: 0 0 60px 10px #FF0101;
    }

    section:nth-child(2) article p {

        font-size: 30px;
        padding-left: 10%;

    }

    section:nth-child(2) img {
        height: 400px;
        object-fit: cover;

    }


    section:nth-child(3) {
        display: flex;
        margin: 10rem 0 10rem 7rem;

    }

    section:nth-child(3) article {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 10px;

        gap: 10px;
        align-items: flex-end;

    }

    section:nth-child(3) article h2 {
        font-size: var(--title-size);
        margin: 30px;
        width: 100%;
    }

    section:nth-child(3) article p {

        font-size: var(--text-size);
        padding-left: 10%;
    }

}

/* play section */
.a_play{
    position: absolute;
    color: var(--color1);
}

#play {
    height: calc(100vh - 24px);
    display: grid;
    grid-template-rows: auto 1fr 35vh;
    grid-template-columns: 15vw 1fr 8vw;
    grid-template-areas: 'opponent_details opponent_details opponent_details '
        'cards_container arena player_details'
        'cards_container hand player_details';
    gap: 5px;
}

#play .opponent_details {
    /* height: 10vh; */
    grid-area: opponent_details;
    background-color: var(--color5);
    color: var(--color1);
    font-weight: 800;
    display: flex;
    gap: 10px;
    justify-content: center;


}

#play .player_details {
    grid-area: player_details;
    text-align: center;
    background-color: black;
    padding: 5px;

}

#play .player_details button {
    width: fit-content;
    background-color: var(--color4);
    border-radius: 10px;
    margin-top: 2rem;
    padding: 10px;
    border-color: transparent;
    transition: all .5s ease-in-out;
    border: 1px solid transparent;
}

#play .player_details button:hover {
    background-color: #EF664E;
    border-color: #FEB1A3;
    box-shadow: 0 0 20px 1px #FF0101;
}

#play .cards_container {
    grid-area: cards_container;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

#play .cards_container .header {
    height: 10%;
    border-bottom: 4px solid var(--color2);
}

#play .cards_container .header h1 {
    font-size: larger;
    font-weight: 600;
}

#play .cards_container .cards {
    padding: 10px;
    height: 0px;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: auto;
}

#play .arena {
    grid-area: arena;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#play .arena .opponent_cards,
#play .arena .player_cards {

    display: flex;
    justify-content: center;
    gap: 2%;
    height: 45%;
    flex-grow: 0;
    /* background-color: #fff; */

}

#play .arena .card_container {
    width: 15%;
    border-radius: 10px;
    border: 2px dashed #fff0c436 ;
    aspect-ratio: 5/8;
    display: flex;
    justify-content: center;
    align-items: center;

}

#play .hand {
    grid-area: hand;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2%;
    padding: 5px;
}

#play .hand .card {
    height: 100%;
}

#play .hand .card img {
    height: 100%;
}

.card {
    position: relative;
    overflow: hidden;
    /* width: 100%; */
    width: fit-content;
    max-height: 100%;
    flex-shrink: 0;
}

.card aside {
    width: 30%;
    min-width: fit-content;
    padding: 10px;
    background-color: var(--color4);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(110%);
    transition: all .5s ease;
    border-radius: 0 0 0 10px;

    display: flex;
    justify-content: space-evenly;
}

.card aside .cart {
    width: 25px;
}

.card:hover {
    aside {
        transform: translateX(0);
    }
}

.card_container:has(.card.defence) {
    transform: rotate(-90deg);
    margin: 0 2%;
}

.card.defence aside {
    display: none;
}


.play_layer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_layer>section {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    grid-template-areas: 'question question ' 'button1 button2';
}

.play_layer>section p {
    /* background-color: green; */
    grid-area: question;
    text-align: center;
}

.play_layer>section button {
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    cursor: pointer;
    transition: all .2s ease;
}

.play_layer>section button:hover {
    scale: 1.1;
}

.play_layer>section button:first-of-type {
    grid-area: button1;
    background-color: red;
}

.play_layer>section button:last-of-type {
    grid-area: button2;
    background-color: rgb(21, 0, 255);
}

.desactivate {
    opacity: .5;
}

@media (max-width : 767px) {

    header {

        img {
            width: 80px;
        }

        nav {
            display: none;
        }

        nav+img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 40px;
        }

        /* aside, */
        .burger_menu {
            display: block;

        }




    }

    .cart_side_bar {
        width: 100vw;

        aside {
            button {
                width: 20px !important;
            }
        }
    }

    footer {
        flex-direction: column;
        border-color: var(--color1);
        gap: 30px;
        padding: 0 10px 30px 10px;
        margin-top: 20px;

        section {
            margin: 0 !important;
            gap: 5px;
            overflow: hidden;
            align-items: unset !important;
            width: 100vw;

            ul {
                width: calc(100% / 3);

                li {
                    text-align: center;

                    a {
                        font-size: 12px;

                    }

                    span {
                        font-size: 21px;
                    }

                }
            }
        }
    }

    #home {

        .hero {
            height: 40vh;
            position: relative;
        }

        .hero article {
            display: flex;
            flex-direction: column;
            padding-top: 5%;
            padding-left: 10%;
        }

        .hero article h1 {
            font-size: 30px;
        }

        .hero article p {
            display: none;
        }

        section:nth-child(2) {
            flex-direction: column;
            margin: 0;
            gap: 50px;
            padding: 10px;
        }

        section:nth-child(2) article {
            width: 100%;
        }

        section:nth-child(2) article h2 {
            font-size: 20px;
            margin: 0 0 20px;
        }

        section:nth-child(2) article p {
            font-size: 15px !important;
        }

        section:nth-child(2) article a,
        section:nth-child(3) article a {

            height: fit-content;
            width: fit-content;
            font-size: 12px;
            padding: 10px;

        }


        section:nth-child(2) img {
            height: 200px;
        }


        section:nth-child(3) {
            margin: 0;

        }

        section:nth-child(3) article h2 {
            font-size: 20px;
            margin: 0 0 20px;
        }

        section:nth-child(3) article p {
            font-size: 15px;
            padding-left: 10%;
        }
    }

    #main_style {
        padding: 0;

        section:nth-child(1) {
            padding: 5%;

            h1 {
                font-size: 3rem;
            }

            div {
                flex-direction: column;
            }

            div * {
                font-size: 13px;
                width: 100%;
                height: 25px;
            }

            div ul {
                margin-top: 30px;
            }
        }

        #cards_container {
            margin: 0;
            grid-template-columns: repeat(2, 1fr);
        }


        #pagination_conatiner button {

            height: 35px !important;
            width: 35px !important;
        }
    }
}

::-webkit-scrollbar {
    background-color: var(--color2);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color5);
    border-radius: 1000px;
}