
#market {
    max-width: 100vw;
    padding: 0 15%;



    #pagination_conatiner {
        display: flex;
        justify-content: end;
        gap: 15px;
        height: fit-content;
        margin-top: 20px;
        margin-bottom: 50px;

        button {
            height: 50px;
            width: 50px;
            background-color: var(--color5);
            color: var(--color4);
            transition: all .5s ease;
        }



        .activate {

            background-color: var(--color4);
            color: var(--color5);
            transform: rotate(45deg);

            p {
                transform: rotate(-45deg);
            }
        }

    }

    #cards_container {
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 0;
        margin-top: 100px;

        .card {
            position: relative;
            overflow: hidden;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            aside {
                width: 70%;
                padding: 10px;
                background-color: var(--color4);
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(110%);
                transition: all .5s ease;
                border-radius: 0 0 0 10px;

                display: flex;
                justify-content: space-evenly;

                button {

                    width: 30px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }

                .cart {
                    width: 25px;
                }


            }

        }

        .card:hover {
            aside {
                transform: translateX(0);
            }
        }
    }

}


@media (max-width : 767px) {

    #market {
        padding: 0;

        section:nth-child(1) {
            padding: 5%;

            h1 {
                font-size: 3rem;
            }

            div {
                flex-direction: column;
            }

            div * {
                font-size: 13px;
                width: 100%;
                height: 25px;
            }

            div ul {
                margin-top: 30px;
            }
        }

        #cards_container {
            margin: 0;
            grid-template-columns: repeat(2, 1fr);
        }


        #pagination_conatiner button {

            height: 35px !important;
            width: 35px !important;
        }
    }

}